<!DOCTYPE html>
<html>
<head>
	<meta name="description" content="DMDX configuration files creation page">
	<meta name="keywords" content="HTML5,CSS,DMDX,Psicologist">
	<meta name="author" content="Julen Telleria">
	<title>DMDX Interface</title>
	<%= stylesheet_link_tag "comonstyle" %>
	<%= stylesheet_link_tag "headerstyle" %>
	<%= javascript_include_tag "jquery-1.9.1.min.js" %>
	<%= javascript_include_tag "jquery-ui.js" %>
	<script>
		function hideDiv(id){
			var reference = document.getElementById(id+"-a");
			 var options = {};
			if(reference.innerHTML=="[show]"){
				$('#'+id).toggle("blind",options,500);
				reference.innerHTML="[hide]"
			}else{
				reference.innerHTML="[show]"
				$('#'+id).toggle("blind",options,500);
				
			}
		}
		function saveButton(){
			document.header_form.action ="/header/header_save";
			document.header_form.submit();
			return true;
		}
	</script>
</head>
<body>
	
	<div id="home" style="display: block;">
		<div class="top top-right">
			<%= image_tag("icons/settings.png", :class => "control-panel-icon", :width=>"40") %>
		</div>
		<div class="top-left">
		<h3>DMDX Interface</h3>
		</div>
		<div class="clear"></div>
		<h2>Global configuration options</h2>
	</div>
	<div id="content">
			<div class="global-options">
				<div class="wrap">
					<form name="header_form" action="/header/define_items" method="POST">
					<input type="hidden" id="file_id" name="file_id" value="<%= @conf_file.id %>">
					<div class="grop-of-options">
						<h3>Global options</h3>
						<div id="global-options-section" class="awards">
							<p>File name <input class="form-inputs" type="text" id="file_name" name="file_name" size="25" value="<%= @conf_file.name %>"></p>
						</div>
					</div>
					<div class="clear"></div>
					<div class="grop-of-options">
						<h3>Input options</h3>
						<div class="awards">
							<p>Time out <input class="form-inputs" type="number" id="time_out" name="time_out" size="5" value="<%= @conf_file_header.time_out %>" min="0" max="99999" required></p>
							<% if @conf_file_header.id_pio12==true %>
								<p class="grey">PIO12<input class="form-inputs" type="checkbox" name="id_pio12" value="true" checked></p>
							<% else %>
								<p class="grey">PIO12<input class="form-inputs" type="checkbox" name="id_pio12" value="true"></p>
							<% end %>
							<% if @conf_file_header.id_keyboard==true %>
								<p>Keyboard<input class="form-inputs" type="checkbox" name="keyboard" value="true" checked></p>
							<% else %>
								<p>Keyboard<input class="form-inputs" type="checkbox" name="keyboard" value="true"></p>
							<% end %>
							<% if @conf_file_header.id_mouse==true %>
								<p class="grey">Mouse<input class="form-inputs" type="checkbox" name="mouse" value="false" checked></p>
							<% else %>
								<p class="grey">Mouse<input class="form-inputs" type="checkbox" name="mouse" value="false"></p>
							<% end %>
							<% if @conf_file_header.id_digital_vox==true %>
								<p>digitalVOX<input class="form-inputs" type="checkbox" name="digitalvox" value="true" checked></p>
							<% else %>
								<p>digitalVOX<input class="form-inputs" type="checkbox" name="digitalvox" value="true"></p>
							<% end %>
							<% if @conf_file_header.id_record_vocal==true %>
								<p class="grey">Record vocal<input class="form-inputs" type="checkbox" name="record_vocal" value="true" checked></p>
							<% else %>
								<p class="grey">Record vocal<input class="form-inputs" type="checkbox" name="record_vocal" value="true"></p>
							<% end %>					
						</div>
					</div>
					<div class="clear"></div>
					<div class="grop-of-options">
						<h3>Output options</h3>
						<div class="awards">
							<% if @conf_file_header.continuous_running==true %>
								<p>Continuous running <input class="form-inputs" type="checkbox" name="continuous_running" value="true" checked></p>
							<% else %>
								<p>Continuous running <input class="form-inputs" type="checkbox" name="continuous_running" value="true"></p>
							<% end %>
							<p class="grey">Standard frame duration <input class="form-inputs" type="number" id="standard_frame_duration_text"  name="standard_frame_duration_text" value="<%= @conf_file_header.standard_frame_duration %>" min="0" max="999" required></p>
							<p>Delay <input class="form-inputs" type="number" id="delay" name="delay"  value="<%= @conf_file_header.delay %>" min="0" max="999" required></p>
							<p class="grey">Video mode <span class="form-inputs"><input type="number" id="video_mode1" name="video_mode1" size="5" value="30" min="0" max="10000" required><input type="number" id="video_mode2" name="video_mode2" size="5" value="30" min="0" max="10000" required><input type="number" id="video_mode3" name="video_mode3" size="5" value="30" min="0" max="10000" required>
								<input type="number" id="video_mode4" name="video_mode4" size="5" value="30" min="0" max="10000" required><input type="number" id="video_mode5" name="video_mode5" size="5" value="30" min="0" max="10000" required>
								</span></p>
								
							<% if @conf_file_header.no_feed_back==true %>
								<p>No feed back <input class="form-inputs" type="checkbox" name="no_feed_back" value="true" checked></p>
							<% else %>
								<p>No feed back <input class="form-inputs" type="checkbox" name="no_feed_back" value="true"></p>
							<% end %>
							
							<p class="grey">Default background color <input class="form-inputs" type="number" id="default_background_color" name="default_background_color" size="5" value="<%= @conf_file_header.default_background_color %>" min="0" max="255255255" required></p>
							<p>Default writing color <input class="form-inputs" type="number" id="default_writing_color" name="default_writing_color" size="5" value="<%= @conf_file_header.default_writing_color %>" min="0" max="255255255" required></p>
							<p class="grey">Default font size <input class="form-inputs" type="number" id="default_font_size" name="default_font_size" size="5" value="<%= @conf_file_header.default_font_size %>" min="0" max="999" required></p>
							
						</div>
					</div>
					<div class="clear"></div>
					<div class="grop-of-options">
						<h3>Result options</h3>
						<div class="awards">
							<% if @conf_file_header.output_data_to_ascii==true %>
								<p>Output to ascii <input  class="form-inputs"type="checkbox" name="output_to_ascii" value="true" checked></p>
							<% else %>
								<p>Output to ascii <input class="form-inputs" type="checkbox" name="output_to_ascii" value="true"></p>
							<% end %>
							<% if @conf_file_header.record_clock_on_time_keyword==1 %>
								<p class="grey">Record clock on time keyword <input class="form-inputs" type="checkbox" name="record_clock" value="true" checked></p>
							<% else %>
								<p class="grey">Record clock on time keyword <input class="form-inputs" type="checkbox" name="record_clock" value="true"></p>
							<% end %>
						</div>
					</div>
					
					<div class="clear"></div>
					<div id="buttons" class="grop-of-options">
						<button type="submit" name="" value="" class="css3button">Define items</button>
						<button type="button" name="" value="" style="float: right;" class="css3button" onclick="saveButton();">Save</button>
					</div>
				</form>
				</div>
			</div>	
		</div>
</body>
</html>
