<!DOCTYPE html>
<html>
<head>
	<meta name="description" content="DMDX configuration files creation page">
	<meta name="keywords" content="HTML5,CSS,DMDX,Psicologist">
	<meta name="author" content="Julen Telleria">
	<title>DMDX Interface body</title>
	
	<script type="text/javascript" src="http://www.google.com/jsapi"></script>
	<%= javascript_include_tag "timeline.js" %>
	<%= stylesheet_link_tag "bodystyle" %>
	<%= stylesheet_link_tag "timeline" %>
	<%= javascript_include_tag "body/timeline-data.js" %>
</head>

<body>
	<h1>Body page</h1>
	<div id="left-pannel">
		<div id="item-configuration">
			<div id="item-data">
				<h3>Item 1</h3>
				<ul class="not-icon-ul">
					<li>ID: Item id</li>
					<li>Expected response: 
						<select>
						  <option value="+">Positive response</option>
						  <option value="-">Negative response</option>
						  <option value="^">No response</option>
						  <option value="=">Any response</option>
						</select>
					</li>
				</ul>
				<div id="stimulus-list">
					<p>Stimulus list:</p>
					<ol>
						<li>Stimulus 1</li>
						<li>Stimulus 2</li>
						<li>Stimulus 3</li>
						<li>Stimulus 4</li>
					</ol>	
				</div>
			</div>
			<div id="stimulus-addition">
				<h3>Add stimulus</h3>
				<%= image_tag("body/text.png", :class => "stimulus-type-icon") %>
				<%= image_tag("body/bmp.png", :class => 'stimulus-type-icon') %>
				<%= image_tag("body/jpeg.png", :class => 'stimulus-type-icon') %>
				<%= image_tag("body/wav.png", :class => 'stimulus-type-icon') %>
			</div>
			<div id="stimulus-data">
				<h3>Stimulus Panel</h3>
				<p id="output">output</p>
			</div>
		</div>
		<!-- Timeline -->
		<div id="mytimeline"></div>	
	</div>
	
	<div id="right-pannel">
		<h3>Control panel</h3>
		<ul id="control-panel-list" class="not-icon-ul">
		<li onmouseover="this.style.cursor='pointer'" onclick="newItem();"><%= image_tag("icons/add.png", :class => "control-panel-icon") %>New item</li>
		<li onmouseover="this.style.cursor='pointer'" onclick="window.location.href='#'"><%= image_tag("icons/save.png", :class => "control-panel-icon") %>Save the document</li>
		<li onmouseover="this.style.cursor='pointer'" onclick="window.location.href='#'"><%= image_tag("icons/settings.png", :class => "control-panel-icon") %>Back to settings</li>
		</ul>
	</div>
	
</body>
</html>