<!DOCTYPE html>
<html>
<head>
	<meta name="description" content="DMDX configuration files creation page">
	<meta name="keywords" content="HTML5,CSS,DMDX,Psicologist">
	<meta name="author" content="Julen Telleria">
	<title>DMDX Interface</title>
	<script type="text/javascript" src="http://www.google.com/jsapi"></script>
	<%= javascript_include_tag "timeline.js" %>
	<%= javascript_include_tag "jquery-1.9.1.min.js" %>
	<%= javascript_include_tag "jquery-ui.js" %>
	<script>
	//obtain the data of the proyect
		<% if @conf_file_json.nil? %>
			var jsonConfigurationFile=null;
		<% else %>
			var jsonConfigurationFile=<%= @conf_file_json.html_safe %>;
		<% end %>
	
  </script>
	
	<%= javascript_include_tag "body/timeline-classes-data.js" %>
	<%= javascript_include_tag "body/timeline-data2.js" %>
	<%= javascript_include_tag "bootstrap-tooltip.js" %>
	<!--<%= stylesheet_link_tag "jquery-ui" %> -->
	<%= stylesheet_link_tag "comonstyle" %>
	<%= stylesheet_link_tag "timeline" %>
	<%= stylesheet_link_tag "bodystyle2" %>
	<%= stylesheet_link_tag "menu" %>
	
	<script>
		function buttonMouseOver(element){
			element.style.opacity=0.4;
		}
		function buttonMouseOut(element){
			element.style.opacity=1;
		}
		$(document).ready(function(){
		    $("[rel=tooltip]").tooltip({ placement: 'top'});
		});
	</script>
</head>
<body>
	
	<div id="home" style="display: block;">
		<div class="top top-right">
			<span class="left">DMDX</span>
			<%= image_tag("icons/settings.png", :width=>"40") %>
			<span class="right">WWW</span>
		</div>
		<div class="top-left">
		<h3>DMDX Interface</h3>
		</div>
		<div class="clear"></div>
		<h2>Item definition page</h2>
	</div>
	<div id="content">
			<div class="global-options">
				<div id="menu">
				    <ul class="menu">
				    	<li rel="tooltip" title="Add new item" class="icon-buttons" onmouseover="buttonMouseOver(this);"onmouseout="buttonMouseOut(this);" onclick="newItem(-1);"><%= image_tag("icons/add.png", :class => "control-panel-icon") %></li>
				    	<li rel="tooltip" title="Add new message item" class="icon-buttons" onmouseover="buttonMouseOver(this);"onmouseout="buttonMouseOut(this);" onclick="newMessageItem();"><%= image_tag("icons/bubble.png", :class => "control-panel-icon") %></li>
				    	<li rel="tooltip" title="Add new loop" class="icon-buttons" onmouseover="buttonMouseOver(this);"onmouseout="buttonMouseOut(this);" onclick="addLoop();"><%= image_tag("icons/loop.png", :class => "control-panel-icon") %></li>
				    	<li rel="tooltip" title="Preview" class="icon-buttons" onmouseover="buttonMouseOver(this);"onmouseout="buttonMouseOut(this);" onclick="previewWindow(<%= @conf_file.id %>);"><%= image_tag("icons/play.png", :class => "control-panel-icon", :style =>"max-width:30px") %></li>
				    	<li rel="tooltip" title="Help page" class="icon-buttons" onmouseover="buttonMouseOver(this);"onmouseout="buttonMouseOut(this);" onclick="window.open('/home/help', '_blank').focus();"><%= image_tag("icons/question.png", :class => "control-panel-icon") %></li>
				    	<li rel="tooltip" title="Download" class="icon-buttons" onmouseover="buttonMouseOver(this);"onmouseout="buttonMouseOut(this);" onclick="window.open('/body/download/<%= @conf_file.id %>', '_blank').focus();"><%= image_tag("icons/download.png", :class => "control-panel-icon", :style =>"max-width:20px") %></li>
				        
						<li><a href="javascript:void(0);"><span>Proyect id=<%= if @conf_file!=nil
								@conf_file.id
							else
								"-"
								end %><span></a>	
						</li>
						<li class="last"><a class="last"><span>http://www.dmdxinterface.com/body/id?=1</span></a></li>
				    </ul>
				</div>	
				
				<div class="wrap">
					<div class="grop-of-options">
						<h3><span id="item-pannel-title">Item</span> <span id="item-option-icons"><%= image_tag("icons/save.png", :class=>"item-icons", :onmouseover=>"buttonMouseOver(this);", :onmouseout=>"buttonMouseOut(this);", :onclick=>"saveItem();") %>
							<%= image_tag("icons/copy.png", :class=>"item-icons", :style =>"max-width:35px", :onmouseover=>"buttonMouseOver(this);", :onmouseout=>"buttonMouseOut(this);", :onclick=>"duplicateItem();") %>
							<%= image_tag("icons/cross.png",  :class=>"item-icons", :onmouseover=>"buttonMouseOver(this);", :onmouseout=>"buttonMouseOut(this);", :onclick=>"deleteItem();") %></span></h3>
						<div id="global-options-section" class="awards">
							<div id="item-left">
								<p class="grey" id="id-list-line">ID: <span class="form-inputs" id="item-id-field">-</span></p>
								<p id="expected-response-list-line">Expected response: 
									<select class="form-inputs" disabled id="expected-response-field">
									  <option value="+">Positive response</option>
									  <option value="-">Negative response</option>
									  <option value="^">No response</option>
									  <option value="=">Any response</option>
									</select>
								</p>
								<p class="grey" id="no-randomise-line">No randomise: <input class="form-inputs" id="no_randomise" type="checkbox" name="no_randomise" disabled value="true"></p>
								<p id="start-timer-stimulus-line">Start timer in stimulus: 
									<select class="form-inputs" disabled id="timer-selection-field">
									  <option value='0'>1</option>
									</select>
								</p>
							</div>
							<div id="item-right">
							<p style='padding-right:0px;' id='stimulus-number-p'>Stimuli (0)
								<span style='float:right'>
									<select id='stimulus-creation-type'><option value='text'>Text</option><option value='jpg'>Image (jpg)</option><option value='bmp'>Image (bmp)</option><option value='wav'>Audio (wav)</option></select>
									<img id='add-stimulus-icon'src='/assets/icons/add.png' onclick='addStimulus();' onmouseover='buttonMouseOver(this);' onmouseout='buttonMouseOut(this)' style='max-width:25px;'>
								</span></p>
		
								<ol id="stimulus-order-list">
								</ol>
							</div>
						</div>
					</div>
						<div class="clear"></div>
						
						<div class="grop-of-options">
						<h3>Stimulus <span id="stimulus-option-icons" hidden><%= image_tag("icons/save.png", :class=>"item-icons", :onmouseover=>"buttonMouseOver(this);", :onmouseout=>"buttonMouseOut(this);", :onclick=>"saveStimulus();") %>
							<%= image_tag("icons/cross.png",  :class=>"item-icons", :onmouseover=>"buttonMouseOver(this);", :onmouseout=>"buttonMouseOut(this);", :onclick=>"deleteStimulus();") %></span></h3>
						<div id="global-options-section" class="awards">
							<div id="stimulus-left">
								<p class="grey">Text: <input class="form-inputs" id="stimulus-text-field" disabled type="text" name="quantity" value="-"></p>
								<p>Type: 
									<select class="form-inputs" id="stimulus-type-field" onchange="stimulusTypeChange(this)" disabled>
									  <option value="text">Text</option>
									  <option value="bmp">BMP Image</option>
									  <option value="jpg">JPEG Image</option>
									  <option value="wav">WAV</option>
									</select>
								</p>
								<p class="grey">Duration: <input class="form-inputs" id="stimulus-duration-field" disabled type="number" name="quantity" min="1" max="100" value=""></p>
								<p>Screen line: <input class="form-inputs" id="stimulus-present-line" disabled type="number" name="quantity" min="-100" max="100" value="0"></p>
								<p class="grey">Clear screen: <input class="form-inputs" id="clear_screen" type="checkbox" name="clear_screen" disabled value="true"></p>
								
							</div>
							<div id="stimulus-right">
								<p>Not erase the previous screen: <input class="form-inputs" id="not_erase" type="checkbox" name="not_erase" disabled value="true"></p>
								
								<p class="grey">Is blank interval: <input class="form-inputs" id="is_blank" type="checkbox" name="is_blank" disabled value="true"></p>
								<!-- only fo audio??? -->
								<p>Synchronise with text: <input class="form-inputs" id="synchronise" type="checkbox" name="synchronise" disabled value="true"></p>
								
								<div id="specific-fields-area"></div>
							</div>
						</div>
						
					</div>
						<div class="clear"></div>
						
						<div class="grop-of-options">
							<h3>Timeline</h3>
							<div id="global-options-section" class="awards">
								<!-- Timeline -->
								<div id="mytimeline"></div>	
							</div>
							<div class="clear"></div>
						<div id="final-buttons-pannel" class="grop-of-options">
							<button type="button" name="" value="" class="css3button" onclick="window.location.href='/body/settings?id=<%= @conf_file.id %>'">Global options</button>
							<button id="save-button" type="button" name="" value="" style="float: right;" class="css3button" onclick="saveDocument(<%= @conf_file.id %>);">Save</button>
						</div>
					</div>
				</div>
			</div>	
		</div>
</body>
</html>
