<!DOCTYPE html>
<html>
<head>
	<meta name="description" content="DMDX configuration files creation page">
	<meta name="keywords" content="HTML5,CSS,DMDX,Psicologist">
	<meta name="author" content="Julen Telleria">
	<title>DMDX Interface body</title>
	
	<script type="text/javascript" src="http://www.google.com/jsapi"></script>
	<%= javascript_include_tag "timeline.js" %>
	<%= stylesheet_link_tag "bodystyle" %>
	<%= stylesheet_link_tag "timeline" %>
	<%= javascript_include_tag "body/timeline-data.js" %>
</head>

<body>
	<h1>Body page</h1>
	<div id="left-pannel">
		<div id="item-configuration">
			<div id="item-data">
				<h3 id="item-name-field">No Item selected</h3>
				<ul class="not-icon-ul">
					<li>ID: <span id="item-id-field">-</span></li>
					<li>Expected response: 
						<select id="expected-response-field">
						  <option value="+">Positive response</option>
						  <option value="-">Negative response</option>
						  <option value="^">No response</option>
						  <option value="=">Any response</option>
						</select>
					</li>
					<li>
						<button id="item-save-button" disabled type="button" onclick="saveItem();">Save</button>
						<button id="item-delete-button" disabled type="button" onclick="">Delete</button>
					</li>
					
				</ul>
				<div id="stimulus-list" ondragover="allowDrop(event);" ondrop="addStimulus(event);">
					<p id="stimulus-number-p">Added stimulus number: <span id="item-stimulus-number-field">-</span></p>
					<ol id="stimulus-order-list">
					</ol>	
				</div>
			</div>
			<div id="stimulus-addition">
				<h3>Add stimulus</h3>
				
				<img id="icon-text" src="/assets/body/text.png" alt="text icon" ondragstart="dragStimulus(event)" class="stimulus-type-icon" draggable="true">
				<img id="icon-bmp" src="/assets/body/bmp.png" alt="bmp icon" ondragstart="dragStimulus(event)" class="stimulus-type-icon" draggable="true">
				<img id="icon-jpg" src="/assets/body/jpeg.png" alt="jpeg icon" ondragstart="dragStimulus(event)" class="stimulus-type-icon" draggable="true">
				<img id="icon-wav" src="/assets/body/wav.png" alt="wav icon" ondragstart="dragStimulus(event)" class="stimulus-type-icon" draggable="true">
				
			</div>
			<div id="stimulus-data">
				<h3 id="stimulus-pannel-header">No stimulus selected</h3>
				<!-- <p id="output">output</p>-->
				<ul class="not-icon-ul">
					<li>Text: <input id="stimulus-text-field" disabled type="text" name="quantity" value="-"></li>
					<li>Type: 
						<select id="stimulus-type-field">
						  <option value="text">Text</option>
						  <option value="bmp">BMP Image</option>
						  <option value="jpg">JPEG Image</option>
						  <option value="wav">WAV</option>
						</select>
					</li>
					<li>Duration (seconds?tics?): <input id="stimulus-duration-field" disabled type="number" name="quantity" min="1" max="100" value=""></li>
					<li><button id="stimulus-save-button" disabled type="button" onclick="saveStimulus();">Save Stimulus</button></li>
				</ul>
			</div>
		</div>
		<!-- Timeline -->
		<div id="mytimeline"></div>	
	</div>
	
	<div id="right-pannel">
		<h3>Control panel</h3>
		<ul id="control-panel-list" class="not-icon-ul">
		<li onmouseover="this.style.cursor='pointer'" onclick="newItem();"><%= image_tag("icons/add.png", :class => "control-panel-icon") %>New item</li>
		<li onmouseover="this.style.cursor='pointer'" onclick="newMessageItem();"><%= image_tag("icons/bubble.png", :class => "control-panel-icon") %>New message item</li>
		<li onmouseover="this.style.cursor='pointer'" onclick="previewWindow();"><%= image_tag("icons/play.png", :class => "control-panel-icon") %>Preview</li>
		<li onmouseover="this.style.cursor='pointer'" onclick="window.location.href='#'"><%= image_tag("icons/settings.png", :class => "control-panel-icon") %>Back to settings</li>
		<li onmouseover="this.style.cursor='pointer'" onclick="window.location.href='#'"><%= image_tag("icons/save.png", :class => "control-panel-icon") %>Save the document</li>
		</ul>
	</div>
	
</body>
</html>