<!DOCTYPE html>
<html>
<head>
	<meta name="description" content="DMDX configuration files creation page">
	<meta name="keywords" content="HTML5,CSS,DMDX,Psicologist">
	<meta name="author" content="Julen Telleria">
	<title>DMDX Interface body</title>
	
	<script type="text/javascript" src="http://www.google.com/jsapi"></script>
	<%= javascript_include_tag "timeline.js" %>
	
	<%= javascript_include_tag "jquery-1.9.1.min.js" %>
	<%= javascript_include_tag "body/timeline-data.js" %>
	<%= stylesheet_link_tag "timeline" %>
	<%= stylesheet_link_tag "bodystyle" %>
	<script>
		function showJson(){
			<% if @conf_file_json.nil? %>
				var jsonConfigurationFile=null;
			<% else %>
				var jsonConfigurationFile=<%= @conf_file_json %>;
			<% end %>
			if(jsonConfigurationFile==null){
				alert("is null!!");
			}else{
				alert(jsonConfigurationFile);
			}
		}
	</script>
	
</head>

<body onload="showJson()">
	<h1>Document id=
		<%= if @conf_file!=nil
			@conf_file.id
		else
			"-"
			end %></h1>
	<div id="left-pannel">
		<div id="item-configuration">
			<div id="item-data">
				<h3 id="item-name-field">No Item selected</h3>
				<ul class="not-icon-ul">
					<li id="id-list-line">ID: <span id="item-id-field">-</span></li>
					<li id="expected-response-list-line">Expected response: 
						<select disabled id="expected-response-field">
						  <option value="+">Positive response</option>
						  <option value="-">Negative response</option>
						  <option value="^">No response</option>
						  <option value="=">Any response</option>
						</select>
					</li>
					<li id="no-randomise-line">No randomise: <input id="no_randomise" type="checkbox" name="no_randomise" disabled value="true"></li>
					<li id="start-timer-stimulus-line">Start timer in stimulus: 
						<select disabled id="timer-selection-field">
						  <option value='0'>1</option>
						</select>
					</li>
					<li>
						<button id="item-save-button" disabled type="button" onclick="saveItem();">Save</button>
						<button id="item-duplicate-button" disabled type="button" onclick="duplicateItem();">Duplicate</button>
						<button id="item-delete-button" disabled type="button" onclick="deleteItem()">Delete</button>
					</li>
					
				</ul>
				<div id="stimulus-list" ondragover="allowDrop(event);" ondrop="addStimulus(event);">
					<p id="stimulus-number-p">Number of stimulus: <span id="item-stimulus-number-field">-</span></p>
					<ol id="stimulus-order-list">
					</ol>	
				</div>
			</div>
			<div id="stimulus-addition">
				<h3>Add stimulus</h3>
				
				<img id="icon-text" src="/assets/body/text.png" alt="text icon" ondragstart="dragStimulus(event)" class="stimulus-type-icon" draggable="true">
				<img id="icon-bmp" src="/assets/body/bmp.png" alt="bmp icon" ondragstart="dragStimulus(event)" class="stimulus-type-icon" draggable="true">
				<img id="icon-jpg" src="/assets/body/jpeg.png" alt="jpeg icon" ondragstart="dragStimulus(event)" class="stimulus-type-icon" draggable="true">
				<img id="icon-wav" src="/assets/body/wav.png" alt="wav icon" ondragstart="dragStimulus(event)" class="stimulus-type-icon" draggable="true">
				
			</div>
			<div id="stimulus-data">
				<h3 id="stimulus-pannel-header">No stimulus selected</h3>
				<!-- <p id="output">output</p>-->
				<ul class="not-icon-ul">
					<li>Text: <input id="stimulus-text-field" disabled type="text" name="quantity" value="-"></li>
					<li>Type: 
						<select id="stimulus-type-field" onchange="stimulusTypeChange(this)" disabled>
						  <option value="text">Text</option>
						  <option value="bmp">BMP Image</option>
						  <option value="jpg">JPEG Image</option>
						  <option value="wav">WAV</option>
						</select>
					</li>
					<li>Duration (seconds?tics?): <input id="stimulus-duration-field" disabled type="number" name="quantity" min="1" max="100" value=""></li>
					<li>Screen line: <input id="stimulus-present-line" disabled type="number" name="quantity" min="-100" max="100" value="0"></li>
					<li>Clear screen: <input id="clear_screen" type="checkbox" name="clear_screen" disabled value="true"></li>
					<li>Not erase the previous screen: <input id="not_erase" type="checkbox" name="not_erase" disabled value="true"></li>
					
					<li>Is blank interval: <input id="is_blank" type="checkbox" name="is_blank" disabled value="true"></li>
					<!-- only fo audio??? -->
					<li>Synchronise with text: <input id="synchronise" type="checkbox" name="synchronise" disabled value="true"></li>
					
					<div id="specific-fields-area"></div>
					<li><button id="stimulus-save-button" disabled type="button" onclick="saveStimulus();">Save Stimulus</button><button id="stimulus-save-button" disabled type="button" onclick="">Delete Stimulus</button></li>
				</ul>
			</div>
		</div>
		<!-- Timeline -->
		<div id="mytimeline"></div>	
	</div>
	
	<div id="right-pannel">
		<h3>Control panel</h3>
		<ul id="control-panel-list" class="not-icon-ul">
		<li onmouseover="this.style.cursor='pointer'" onclick="newItem(-1);"><%= image_tag("icons/add.png", :class => "control-panel-icon") %>New item</li>
		<li onmouseover="this.style.cursor='pointer'" onclick="newMessageItem();"><%= image_tag("icons/bubble.png", :class => "control-panel-icon") %>New message item</li>
		<li onmouseover="this.style.cursor='pointer'" onclick="addLoop();"><%= image_tag("icons/loop.png", :class => "control-panel-icon") %>New loop</li>
		<li onmouseover="this.style.cursor='pointer'" onclick="previewWindow();"><%= image_tag("icons/play.png", :class => "control-panel-icon") %>Preview</li>
		<% if @conf_file!=nil %>
			<li onmouseover="this.style.cursor='pointer'" onclick="window.location.href='/body/settings?id=<%= @conf_file.id %>'"><%= image_tag("icons/settings.png", :class => "control-panel-icon") %>Back to settings</li>
		<% else %>
			<li onmouseover="this.style.cursor='pointer'" onclick="window.location.href='settings'"><%= image_tag("icons/settings.png", :class => "control-panel-icon") %>Back to settings</li>
		<% end %>
		
		<li onmouseover="this.style.cursor='pointer'" onclick="saveDocument(<%= @conf_file.id %>);"><%= image_tag("icons/save.png", :class => "control-panel-icon") %>Save the document</li>
		<li onmouseover="this.style.cursor='pointer'" onclick="downloadDocument(<%= @conf_file.id %>);"><%= image_tag("icons/download.png", :class => "control-panel-icon") %>Download the document</li>
		</ul>
	</div>
	
</body>
</html>