<!DOCTYPE html>
<html>
<head>
	<meta name="description" content="DMDX configuration files creation page">
	<meta name="keywords" content="HTML5,CSS,DMDX,Psicologist">
	<meta name="author" content="Julen Telleria">
	<title>DMDX Interface body</title>
	
	<script type="text/javascript" src="http://www.google.com/jsapi"></script>
	<%= javascript_include_tag "timeline.js" %>
	<%= stylesheet_link_tag "bodystyle" %>
	<%= stylesheet_link_tag "timeline" %>
	
	<script type="text/javascript">
		google.load("visualization", "1");

        // Set callback to run when API is loaded
        google.setOnLoadCallback(drawVisualization);

        // Called when the Visualization API is loaded.
        function drawVisualization() {
            // Create and populate a data table.
            var data = new google.visualization.DataTable();
            data.addColumn('datetime', 'start');
            data.addColumn('datetime', 'end');
            data.addColumn('string', 'content');

            var t = new Date(2010,7,23,16,30,15);
            var te = new Date(2010,7,23,16,30,16);

            data.addRows([
                [new Date(t.getTime()+15), , 'Conversation<br>' +
                        '<img src="/assets/timeline/comments-icon.png" style="width:32px; height:32px;">'],
                [new Date(t.getTime()+16), , 'Mail from boss<br>' +
                        '<img src="/assets/timeline/mail-icon.png" style="width:32px; height:32px;">'],
                [new Date(t.getTime()+18), , 'Report'],
                [new Date(t.getTime()+20), new Date(t.getTime()+26), 'Traject A'],
                [new Date(t.getTime()+22), , 'Memo<br>' +
                        '<img src="/assets/timeline/notes-edit-icon.png" style="width:48px; height:48px;">'],
                [new Date(t.getTime()+23), , 'Phone call<br>' +
                        '<img src="/assets/timeline/Hardware-Mobile-Phone-icon.png" style="width:32px; height:32px;">'],
                [new Date(t.getTime()+24), new Date(t.getTime()+27), 'Traject B'],
                [new Date(t.getTime()+29), , 'Report<br>' +
                        '<img src="/assets/timeline/attachment-icon.png" style="width:32px; height:32px;">']
            ]);

            // specify options
            var options = {
                width:  "100%",
                height: "300px",
                editable: true,
                style: "box",
                intervalMax: 100,
                min: t,
                max: te
            };

            // Instantiate our timeline object.
            var vis = new links.Timeline(document.getElementById('mytimeline'));

            // Draw our timeline with the created data and options
            vis.draw(data, options);
        }
	</script>
</head>

<body>
	<h1>Body page</h1>
	<div id="left-pannel">
		<div id="item-configuration">
			<div id="item-data"><h3>Item 1</h3></div>
			<div id="stimulus-addition">
				<h3>New stimulus</h3>
				<%= image_tag("body/text.png", :class => "stimulus-type-icon") %>
				<%= image_tag("body/bmp.png", :class => 'stimulus-type-icon') %>
				<%= image_tag("body/jpeg.png", :class => 'stimulus-type-icon') %>
				<%= image_tag("body/wav.png", :class => 'stimulus-type-icon') %>
			</div>
			<div id="stimulus-data"><h3>Stimulus 1</h3></div>
		</div>
		<!-- Timeline -->
		<div id="mytimeline"></div>	
	</div>
	
	<div id="right-pannel">
		
	</div>
	
</body>
</html>