<!DOCTYPE html>
<html>
<head>
	<meta name="description" content="DMDX configuration files creation page">
	<meta name="keywords" content="HTML5,CSS,DMDX,Psicologist">
	<meta name="author" content="Julen Telleria">
	<title>DMDX Interface Preview</title>
	<%= stylesheet_link_tag "comonstyle" %>
	<%= stylesheet_link_tag "previewstyle" %>
	<%= javascript_include_tag "body/timeline-classes-data.js" %>
	<%= javascript_include_tag "body/preview.js" %>
	<script>
	//obtain the data of the proyect
		<% if @conf_file_json.nil? %>
			var jsonConfigurationFile=null;
		<% else %>
			var jsonConfigurationFile=<%= @conf_file_json.html_safe %>;
		<% end %>
		proyectLoad();
	</script>
</head>

<body>
	<div><canvas id="writtin-pannel" width=900 height=600></canvas></div>
	<div id="button-paragraph">
		<button id="startButton"onclick="startPreview();" class="css3button">Start</button>
	</div>
</body>
</html>